.videoContainer {
	z-index: -100;
	width: 100%;
	height:100%;
	overflow: hidden;
	top:0;
	left:0;
	position: absolute;
	background-image: url(../../assets/catPoster.png);
	video {
		min-height:100%; 
		min-width: 100%;
		@include respond-to(medium){
			display: none;
		}
	}
}

.landingHeading{
	z-index:100;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%, -50%);
	border-radius: 150px;
	display: flex;
	flex-direction: column;
	align-items:center;
	padding: 80px;
}

.logo {
	margin:0;
	padding:0;
	font-family: $logoFont;
  	text-transform: lowercase;
  	font-weight: 700;
  	font-size:130px;
  	font-style: italic;
  	color:$brownThree;
	.logo__ok{
		color:$brownFour;
	}
  }




button.find{
	border:2px solid $yellow;
	border-radius: 20px;
	color:$orange;
	padding: 10px 20px 10px 20px;
	font-family: $baseFont;
	background-color: white;
}

button.find:hover {
	color:$blue;
	transition: all 0.3s;
	border: 3px solid $blue;
}

	h2 {
		@include heading(25px);
	}
