// Fonts
$logoFont: 'Vollkorn', serif;
$baseFont: 'Droid Serif', serif;

// colours


$yellow: #EAC435;
$grey: rgb(125, 142, 158);
$grey2:rgba(125, 142, 158, 0.5);
$orange: #d54e21;
$blue: #345995;

// turqoise

$cyan: rgb(105, 143, 165);
$cyanClear: rgba(105, 143, 165, 0.5);
$cyanTwo: rgb(62, 112, 138);
$cyanThree: rgb(27, 83, 111);
$cyanFour: rgb(1, 57, 84);

// brown

$brown: rgb(218, 165, 94);
$brownTwo:rgb(176, 119, 38);
$brownThree:rgb(134, 80, 0);
$brownFour: rgb(90, 47, 0);


