sarticle, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1170px; }

.heading {
  display: flex;
  align-items: center; }
  .heading img {
    height: 100%;
    margin-left: 30px; }

h2, h3 {
  font-family: "Droid Serif", serif;
  color: #1b536f;
  margin: 0; }
  @media (max-width: 768px) {
    h2, h3 {
      font-size: 15px; } }

label {
  font-family: "Droid Serif", serif;
  color: black; }

.logo {
  margin: 0;
  padding: 0;
  text-shadow: 4px 4px 4px white;
  font-family: "Vollkorn", serif;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 150px;
  font-style: italic;
  color: #257298; }
  .logo .logo__ok {
    color: #113446;
    text-transform: uppercase; }
  @media (max-width: 940px) {
    .logo {
      font-size: 128px; } }
  @media (max-width: 768px) {
    .logo {
      font-size: 90px; } }
  @media (max-width: 480px) {
    .logo {
      font-size: 75px; } }

button, input[type="submit"] {
  border: 4px solid #EAC435;
  border-radius: 31px;
  color: #257298;
  padding: 20px 30px 20px 30px;
  font-family: "Droid Serif", serif;
  background-color: white;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8); }
  button:hover, input[type="submit"]:hover {
    background-color: #EAC435;
    transform: scale(1.05);
    transition: all 0.3s; }

input[type="submit"] {
  padding: 15px 22px 15px 22px; }

h2 {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-size: 25px; }

body {
  background-color: #698fa5; }

main {
  border: 10px solid #EAC435;
  padding: 5% 10% 5% 10%;
  border-radius: 20px;
  margin: 50px;
  max-width: 70%;
  margin: 10% auto;
  background-color: white; }
  @media (max-width: 768px) {
    main {
      max-width: 80%; } }
  @media (max-width: 480px) {
    main {
      max-width: 95%; } }
  main .inner_wrapper {
    max-width: 90%; }

.backgroundHeading {
  background-image: url("../assets/cat_img1.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  position: relative; }
  @media (max-width: 768px) {
    .backgroundHeading {
      background-position-x: 80%;
      background-attachment: scroll; } }
  @media (max-width: 480px) {
    .backgroundHeading {
      background-position-x: 70%; } }

.heading {
  position: absolute;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .heading {
      left: 50%;
      transform: translateX(-50%); } }

.logo,
.logo2 {
  font-family: "Vollkorn", serif; }

.logo2 {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 80px;
  font-style: italic;
  color: #EAC435; }

.description {
  font-size: 20px;
  color: #1b536f;
  margin: 0 auto;
  padding-bottom: 5%;
  font-family: "Droid Serif", serif; }
  .description .yellow {
    color: #EAC435;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Vollkorn", serif; }

.addressField,
.genderWrap,
.breedWrap,
.ageWrap {
  display: flex; }
  @media (max-width: 768px) {
    .addressField,
    .genderWrap,
    .breedWrap,
    .ageWrap {
      padding-top: 30px; } }
  @media (max-width: 480px) {
    .addressField,
    .genderWrap,
    .breedWrap,
    .ageWrap {
      flex-direction: column;
      align-items: left; } }

.form_flex {
  display: flex;
  flex-direction: column; }

.form_flex-child {
  margin-bottom: 5%; }

input[type="text"] {
  border: 1px solid rgba(242, 244, 245, 0.5);
  border-bottom: 2px solid #1b536f;
  background-color: rgba(213, 218, 223, 0.5);
  border-radius: 3px;
  width: 40%; }

.addressField {
  display: flex;
  justify-content: space-between; }

#breed {
  border: none;
  margin-top: -5px; }
  #breed select {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    font-family: "Droid Serif", serif;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(213, 218, 223, 0.5);
    color: #1b536f; }
    #breed select :hover {
      background-color: rgba(125, 142, 158, 0.5); }

.flexContainer {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 60%; }
  @media (max-width: 768px) {
    .flexContainer {
      width: 80%;
      padding: 20px; } }

.flexChild__gender {
  margin-right: 20px; }

.flexContainer__Age {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 7px 5% 0 5%;
  display: flex; }
  @media (max-width: 768px) {
    .flexContainer__Age {
      flex-direction: column;
      padding: 0 5% 0 5%;
      width: 80%;
      align-items: left; } }

.flexChild__Age {
  margin-bottom: 10px; }

.findCatWrap {
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  background: #EAC435; }
  footer p {
    font-size: 20px;
    font-family: "Droid Serif", serif;
    text-align: center;
    margin: 0;
    padding: 3%;
    color: #013954; }

.footerFlex {
  display: flex;
  justify-content: center;
  align-items: center; }

.videoContainer {
  z-index: -100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(./../assets/catPoster.png);
  background-size: cover;
  background-position-x: center; }
  .videoContainer video {
    min-height: 100%;
    min-width: 100%; }
    @media (max-width: 768px) {
      .videoContainer video {
        display: none; } }

.landingHeading {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  background-color: rgba(255, 255, 255, 0.3); }
  @media (max-width: 768px) {
    .landingHeading {
      padding: 36px;
      border-radius: 90px; } }
  @media (max-width: 480px) {
    .landingHeading {
      padding: 20px;
      border-radius: 73px; } }

.petName {
  font-size: 40px;
  font-family: "Droid Serif", serif;
  color: #345995; }
  @media (max-width: 768px) {
    .petName {
      font-size: 28px; } }

.petAge,
.petId,
.petCity,
.petState,
.petPhone,
.petEmail {
  font-size: 20px;
  font-family: "Droid Serif", serif;
  color: #345995; }
  @media (max-width: 480px) {
    .petAge,
    .petId,
    .petCity,
    .petState,
    .petPhone,
    .petEmail {
      font-size: 16px; } }

.petImage {
  max-width: 100%; }
  .petImage img {
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 50px solid white;
    border-left: 10px solid white;
    box-shadow: 10px 10px 10px rgba(125, 142, 158, 0.5); }

.petGet {
  background-color: rgba(125, 142, 158, 0.5);
  font-family: "Droid Serif", serif;
  border: 5px solid #345995;
  padding: 50px;
  border-radius: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; }
  @media (max-width: 480px) {
    .petGet {
      margin: 20px; } }
