sarticle, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1170px; }

.heading {
  display: flex;
  align-items: center; }
  .heading img {
    height: 100%;
    margin-left: 30px; }

h2, h3 {
  font-family: "Roboto", sans-serif;
  color: #698fa5;
  padding-left: 30px;
  margin: 0; }
  @media (max-width: 768px) {
    h2, h3 {
      font-size: 15px; } }

label {
  font-family: "Roboto", sans-serif;
  color: black; }

main {
  border: 5px solid #EAC435;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin: 50px; }

.backgroundHeading {
  background-image: url("../assets/cat_img1.jpg");
  height: 100vh;
  background-size: cover;
  position: relative; }
  @media (max-width: 768px) {
    .backgroundHeading {
      background-position-x: 80%; } }
  @media (max-width: 480px) {
    .backgroundHeading {
      background-position-x: 70%; } }

.heading {
  position: absolute;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .heading {
      left: 50%;
      transform: translateX(-50%); } }

.logo,
.logo2 {
  font-family: "Vollkorn", serif; }

.logo2 {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 80px;
  font-style: italic;
  color: #EAC435; }

button.mysteryCat,
input[type=submit] {
  border: 2px solid #EAC435;
  border-radius: 20px;
  color: #698fa5;
  padding: 10px 20px 10px 20px;
  font-family: "Roboto", sans-serif;
  background-color: white; }

button.mysteryCat:hover,
input[type=submit]:hover {
  background-color: #EAC435;
  color: #698fa5;
  transition: all 0.3s; }

.addressField,
.genderWrap,
.breedWrap,
.ageWrap {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .addressField,
    .genderWrap,
    .breedWrap,
    .ageWrap {
      padding-top: 30px; } }
  @media (max-width: 480px) {
    .addressField,
    .genderWrap,
    .breedWrap,
    .ageWrap {
      flex-direction: column;
      align-items: left; } }

.addressField {
  padding-right: 30px; }

@media (max-width: 480px) {
  .addressField input {
    margin-left: 30px; } }

#breed {
  border: none; }
  #breed select {
    width: 150px;
    height: 30px;
    border: 1px solid #7d8e9e;
    border-radius: 5px;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px; }
    #breed select :hover {
      background-color: rgba(125, 142, 158, 0.6); }

.flexContainer {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 60%; }
  @media (max-width: 768px) {
    .flexContainer {
      width: 80%;
      padding: 20px; } }

.flexChild {
  width: 30%; }

.flexContainer__Age {
  display: flex;
  align-items: center;
  padding: 50px;
  display: flex;
  width: 60%; }
  @media (max-width: 768px) {
    .flexContainer__Age {
      flex-direction: column;
      padding: 20px;
      width: 80%;
      align-items: left; } }

.findCatWrap {
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  background: #d54e21; }
  footer p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white; }

.footerFlex {
  display: flex;
  justify-content: center;
  align-items: center; }

.videoContainer {
  z-index: -100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../../assets/catPoster.png); }
  .videoContainer video {
    min-height: 100%;
    min-width: 100%; }
    @media (max-width: 768px) {
      .videoContainer video {
        display: none; } }

.landingHeading {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px; }

.logo {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 130px;
  font-style: italic;
  color: #865000; }
  .logo .logo__ok {
    color: #5a2f00; }

button.find {
  border: 2px solid #EAC435;
  border-radius: 20px;
  color: #d54e21;
  padding: 10px 20px 10px 20px;
  font-family: "Roboto", sans-serif;
  background-color: white; }

button.find:hover {
  color: #698fa5;
  transition: all 0.3s;
  border: 3px solid #698fa5; }

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px; }

.petName {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #698fa5; }

.petAge,
.petId,
.petCity,
.petState,
.petPhone,
.petEmail {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #698fa5; }

.petImage {
  width: 70%; }

.petGet {
  font-family: "Roboto", sans-serif;
  border: 5px solid #698fa5;
  padding: 50px;
  border-radius: 10px;
  margin: 50px;
  display: flex;
  justify-content: space-between; }
